<?php
   
//die("aaa");

//echo "<pre>"; print_r($user_details); die;

//echo "team22 ".$user_details[0]['team'];



if(in_array('21' , $user_privilage )){
    $spec_cond = 'alltask' ;
}
else if (in_array('26' , $user_privilage )){
    $spec_cond = 'all' ;
}
else{
    $spec_cond = md5($user_details[0]['id']) ;
}
?>
  <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <?php 
                if($user_details[0]['picture'])
                {   ?>
                        <img src="<?="/bpmt/img/".$user_details[0]["picture"]?>" height="50" widht="50" class="rounded-circle user-photo" alt="User Profile Picture"> 
                    <?php
                }
                else
                {  ?>
                        <img src="/bpmt/img/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                <?php
                    }
                ?>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong><?=$user_details[0]['name']?></strong></a>                    
                    <ul class="dropdown-menu dropdown-menu-right account animated flipInY">
                        <li><a href="/bpmt/employee/profile/<?=md5($user_details[0]['id'])?>"><i class="icon-user"></i>My Profile</a></li>
                        <!-- <li><a href="javascript:void"><i class="icon-envelope-open"></i>Messages</a></li>
                        <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li> -->
                        <li class="divider"></li> 
                        <li><a href="/bpmt/logout/user"><i class="icon-power"></i>Logout</a></li>
                    </ul>
                </div>
                <hr>
                <!-- <div class="row">
                    <div class="col-4"><a href="/bpmt/employee" >
                        <h6><?=$coountemp?></h6>
                        <small>Employees</small>                 
                        </a>       
                    </div>
                    <div class="col-4"><a href="/bpmt/taskboard/bugs/<?=$spec_cond?>" >
                        <h6><?=($count_bug->bug == "" ? 0 : $count_bug->bug )?></h6>
                        <small>Bugs</small>
                    </a>
                    </div>
                    <div class="col-4">                        
                        <h6>0</h6>
                        <small>Late</small>
                    </div>
                </div> -->
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
            <?php
            if(count ( array_intersect($user_privilage, $employee_priv) ) > 0 ){
                ?>
                <li class="nav-item"><a class="nav-link <?=(in_array($controllerName ,  ['Employee' , 'Roles', 'Attendance' , 'Team' ])  || (count ( array_intersect($user_privilage, $client_priv) ) == 0 && count ( array_intersect($user_privilage, $project_priv) ) == 0 && count ( array_intersect($user_privilage, $billing_priv) ) == 0 && count ( array_intersect($user_privilage, $task_priv) ) == 0)  ? "active" : ""  )?>" data-toggle="tab" href="#hr_menu">HR</a></li>
                <?php }  if(count ( array_intersect($user_privilage, $client_priv) ) > 0 || count ( array_intersect($user_privilage, $project_priv) ) > 0 || count ( array_intersect($user_privilage, $billing_priv) ) > 0 || count ( array_intersect($user_privilage, $task_priv) ) > 0 ){
                    ?>
                <li class="nav-item"><a class="nav-link <?=(in_array($controllerName , ['Dashboard' , 'Projects' , 'Appchat' , 'Billing' ,'Clients' , 'Taskboard','Seos' ]) ?  "active" : ""  )?>" data-toggle="tab" href="#project_menu">Project</a></li>
                <?php } ?>

               </ul>
                
            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
            <?php
            if(count ( array_intersect($user_privilage, $employee_priv) ) > 0 ){
                ?>
                <div class="tab-pane animated fadeIn <?=(in_array($controllerName , ['Employee', 'Roles', 'Attendance' , 'Team' ] )  || (count ( array_intersect($user_privilage, $client_priv) ) == 0 && count ( array_intersect($user_privilage, $project_priv) ) == 0 && count ( array_intersect($user_privilage, $billing_priv) ) == 0 && count ( array_intersect($user_privilage, $task_priv) ) == 0) ? "active" : ""  )?>" id="hr_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            
                            <?php
                                if(count ( array_intersect($user_privilage, $employee_priv) ) > 0 ){
                                    ?>
                            <li class="<?=(in_array($controllerName , ['Employee' , 'Roles' , 'Attendance' , 'Team' ]) ? "active" : ""  )?>" >
                                <a href="#Employees" class="has-arrow"><i class="icon-users"></i><span>Employees</span></a>
                                <ul>
                                <?php
                            if(in_array(4 , $user_privilage )){ ?>
                                    <li class="<?=(in_array($controllerName , ['Employee']) && $actionName == "index" ? "active" : ""  )?>"><a   href="/bpmt/employee">All Employees</a></li>
                            <?php }  if(in_array(26 , $user_privilage )){ ?>
                                    <li class="<?=(in_array($controllerName , ['Attendance']) && $actionName == "index" ? "active" : ""  )?>"><a href="/bpmt/attendance">Attendance</a></li>
                            <?php }  if(in_array(31 , $user_privilage ) || in_array(32 , $user_privilage ) || in_array(33 , $user_privilage )){ ?>
                                    <li class="<?=(in_array($controllerName , ['Team']) ? "active" : ""  )?>"><a href="/bpmt/team">Teams</a></li>
                            <?php }  if(in_array(5 , $user_privilage ) || in_array(6 , $user_privilage ) || in_array(7 , $user_privilage )){?>
                                    <li class="<?=(in_array($controllerName , ['Roles']) ? "active" : ""  )?>"><a  href="/bpmt/roles">Roles and Privilages</a></li>
                            <?php }  ?>

                                </ul>
                            </li>
                            <?php } ?>
                           
                           
                            <!-- <li>
                                <a href="#Accounts" class="has-arrow"><i class="icon-briefcase"></i><span>Accounts</span></a>
                                <ul>
                                    <li><a href="javascript:void">Payments</a></li>
                                    <li><a href="javascript:void">Expenses</a></li>
                                    <li><a href="javascript:void">Invoices</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#Payroll" class="has-arrow"><i class="icon-credit-card"></i><span>Payroll</span></a>
                                <ul>
                                    <li><a href="javascript:void">Payslip</a></li>
                                    <li><a href="javascript:void">Employee Salary</a></li>                                    
                                </ul>
                            </li>
                            <li>
                                <a href="#Report" class="has-arrow"><i class="icon-bar-chart"></i><span>Report</span></a>
                                <ul>
                                    <li><a href="javascript:void">Expense Report</a></li>
                                    <li><a href="javascript:void">Invoice Report</a></li>                                    
                                </ul>
                            </li>
                            <li><a href="javascript:void"><i class="icon-list"></i>Holidays</a></li>
                            <li><a href="javascript:void"><i class="icon-calendar"></i>Events</a></li>
                            <li><a href="javascript:void"><i class="icon-badge"></i>Activities</a></li>
                      
                         -->
                            
                        </ul>
                    </nav>
                </div>
<?php }  if(count ( array_intersect($user_privilage, $client_priv) ) > 0 || count ( array_intersect($user_privilage, $project_priv) ) > 0 || count ( array_intersect($user_privilage, $billing_priv) ) > 0 || count ( array_intersect($user_privilage, $task_priv) ) > 0 ){
                ?>
                <div class="tab-pane animated fadeIn <?=(in_array($controllerName , ['Dashboard' , 'Projects' ,'Clients' , 'Appchat' , 'Billing', 'Taskboard', 'Quality','Seos' ]) ? "active" : ""  )?>" id="project_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li class="<?=$controllerName == "Dashboard" ? "active" : "" ?>"><a href="/bpmt/dashboard"><i class="icon-speedometer"></i><span>Dashboard</span></a></li>
                            <?php
                            if(count ( array_intersect($user_privilage, $project_priv) ) >0 ){
                                ?>
                            
                            <li class="<?=$controllerName == "Projects" ? "active" : "" ?>">
                                <a href="#Projects" class="has-arrow"><i class="icon-list"></i><span>Projects</span></a>
                                <ul>
                                <?php
                            if(in_array(13 , $user_privilage )){ ?>
                                    <li class="<?=$actionName == "add" && $controllerName == "Projects" ? "active" : "" ?>"><a href="/bpmt/projects/add">Add Project</a></li>
                                    <?php
                            }
                            if(in_array(12 , $user_privilage ) || in_array(29 , $user_privilage ) ){ ?>
                                    <li class="<?=$actionName == "index" && $controllerName == "Projects" ? "active" : "" ?>"><a href="/bpmt/projects">Projects List</a></li>
                            <?php } ?>
                                                                   
                                </ul>
                            </li>
                            <?php
                            }  if(count ( array_intersect($user_privilage, $client_priv) ) >0 ){
                            ?>
                            <li class="<?=$controllerName == "Clients" ? "active" : "" ?>">
                                <a href="#Clients" class="has-arrow"><i class="icon-user"></i><span>Clients</span></a>
                                <ul>
                                <?php
                            if(in_array(9 , $user_privilage )){ ?>
                                    <li class="<?=$actionName == "add" && $controllerName == "Clients" ? "active" : "" ?>"><a href="/bpmt/clients/add">Add Clients</a></li>
                                    <?php
                            }
                            if(in_array(8 , $user_privilage ) || in_array(28 , $user_privilage ) ){ ?>
                                    <li class="<?=$actionName == "index" && $controllerName == "Clients" ? "active" : "" ?>"><a href="/bpmt/clients">Clients List</a></li>
                            <?php } ?>
                                </ul>
                            </li>
                            <?php
                        }  if(count ( array_intersect($user_privilage, $billing_priv) ) >0 ){
                            ?>

                            <li class="<?=$controllerName == "Billing" ? "active" : "" ?>">
                                <a href="#Clients" class="has-arrow"><i class="icon-credit-card"></i><span>Billing</span></a>
                                <ul>
                                <?php
                            if(in_array(17 , $user_privilage )){ ?>

                                    <li class="<?=$actionName == "add" && $controllerName == "Billing" ? "active" : "" ?>"><a href="/bpmt/billing/add">Add Payment</a></li>
                            <?php }  if(in_array(16 , $user_privilage )){ ?> 
                                    <li class="<?=$actionName == "index" && $controllerName == "Billing" ? "active" : "" ?>"><a href="/bpmt/billing">Billing List</a></li>
                            <?php } 
                             if(in_array(34 , $user_privilage )){ ?> 
                                    <li class="<?=$actionName == "tasks" && $controllerName == "Billing" ? "active" : "" ?>"><a href="/bpmt/billing/tasks/alltask">Task Billing</a></li>
                            <?php } ?>
                                </ul>
                            </li>
                                <?php 
                            }
                            if(in_array('25' , $user_privilage )){
                                
                                if(in_array('21' , $user_privilage )){
                                    $spec_cond = 'alltask' ;
                                }
                                else if (in_array('26' , $user_privilage )){
                                    $spec_cond = 'all' ;
                                }
                                else{
                                    $spec_cond = md5($user_details[0]['id']) ;
                                }
                                ?>

                            <!-- <li><a href="project-team.html"><i class="icon-users"></i>Team</a></li> -->
                   
                            <li class="<?=$controllerName == "Taskboard" ? "active" : "" ?>"><a href="/bpmt/taskboard/index/<?=$spec_cond?>"><i class="icon-tag"></i>Taskboard</a></li>
                            
                                <?php 
//if(($user_details[0]['team'] == '4') && ($user_details[0]['role'] == '5'))
if(($user_details[0]['team'] == '4'))

      {
     ?>
                            <li class="<?=$controllerName == "Seos" ? "active" : "" ?>"><a href="/bpmt/seos/add/<?=$spec_cond?>"><i class="icon-tag"></i>Add SEO Stats</a></li>
<?php
                            }                                
                                ?>
                                
                                <?php 
if(($user_details[0]['role'] == '2'))
      {
     ?>
                            <li class="<?=$controllerName == "Teamreviews" ? "active" : "" ?>"><a href="/bpmt/teamreviews/add/<? echo $user_details[0]['team']; ?>"><i class="icon-tag"></i>Team Reviews</a></li>
<?php
                            }                                
                                ?>
                                
                                
                                <?php
                            if(in_array(36 , $user_privilage )){ ?>
                            <li class="<?=$controllerName == "Quality" ? "active" : "" ?>"><a href="/bpmt/quality/index/alltask"><i class="icon-tag"></i>Quality Taskboard</a></li>
                            <?php } } ?>
                            <!-- <li class="<?=$controllerName == "Appchat" ? "active" : "" ?>"><a href="/bpmt/appchat"><i class="icon-bubbles"></i>Chat App</a></li> -->
                            
                        </ul>                        
                    </nav>                    
                </div>
<?php } ?>
       
            </div>          
        </div>
    </div>
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> <?=$mainpage?></h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item active"><?=$sidebar_prefix.$subpage?></li>
                        </ul>
                    </div>     
                    <?php
                        if($controllerName == 'Taskboard' ){
                    ?>
                    <div class="col-lg-8 col-md-8 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Spent till <?=$date_show_upper?></small>
                                <h6 class="mb-0 mt-1"><i class="icon-clock"></i> <?=($spent_hours == "" ? 0 : $spent_hours)?></h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Billed till <?=$last_billed?></small>
                                <h6 class="mb-0 mt-1"><i class="icon-clock"></i> <?=($billed_hours == "" ? 0 : $billed_hours)?></h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Negative till <?=$last_negative?></small>
                                <h6 class="mb-0 mt-1"><i class="icon-clock"></i> <?=($negative_hours == "" ? 0 : $negative_hours)?></h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                        <!-- <div class="topmsg"><?=$top_message?></div> -->

                    </div>
                    <?php
                        }            
                  
                    //  echo  $controllerName;
                        if($controllerName == 'Billing' && $actionName == 'index' ){
                    ?>
                    <div class="col-lg-8 col-md-8 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Hours Spent</small>
                                <h6 class="mb-0 mt-1"><i class="icon-clock"></i> <?=($spent_hours == "" ? 0 : round($spent_hours,2))?></h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Hours Billed</small>
                                <h6 class="mb-0 mt-1"><i class="icon-clock"></i> <?=($billed_hours == "" ? 0 : round($billed_hours,2))?></h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Hours Balance</small>
                                <h6 class="mb-0 mt-1"><i class="icon-clock"></i> <?=($balance_hours != 0 ? round($balance_hours,2) : 0)?></h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                        <div class="topmsg">*Above hour stats are of till date.</div>

                    </div>
                    <?php
                        }            
                    ?>      
                </div>
            </div>
