
<style>
.accordion {
/*  background-color: #eee;*/
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active2, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active2:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



/*.form {
    margin:0;
}

.form li {
    list-style:none;
}

.hide {
    display:none;
}

.rating input[type="radio"] {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}

.rating span {
    width:24px;
    height:16px;
    line-height:16px;
    padding:1px 22px 1px 0;  1px FireFox fix 
    background:url(/bpmt/img/star.png) no-repeat -22px 0;
}

.rating input[type="radio"]:checked + span {
    background-position:-22px 0;
}

.rating input[type="radio"]:checked + span ~ span {
    background-position:0 0;
}*/
</style>

<?php

//echo "<pre>"; print_r($retrieve_emp); die;

?>


            
<div class="header">
                	<div class="py-1" style="width: 100%;">
 
                <?php	
                	$base_url = array('controller' => 'Teamreviews', 'action' => 'search');
                       echo $this->Form->create("Filteratt3",array('url' => $base_url , 'method' => "post"  ));
                    ?>
                            
                            
                    
                            
                            
                            
<!--                    <input type="hidden" value=""  name="user">-->
                        <div class="row clearfix">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <?php //echo $month2; die;?>
                                    <select class="form-control" id="month" name="month" class="month" required>
									      <option value="" >Select Month</option>
									      <option <?=($month2 == 1 ? "selected" : "")?> value="1">January</option>
									      <option <?=($month2 == 2 ? "selected" : "")?> value="2">February</option>
									      <option <?=($month2 == 3 ? "selected" : "")?> value="3">March</option>
									      <option <?=($month2 == 4 ? "selected" : "")?> value="4">April</option>
									      <option <?=($month2 == 5 ? "selected" : "")?> value="5">May</option>
									      <option <?=($month2 == 6 ? "selected" : "")?> value="6">June</option>
									      <option <?=($month2 == 7 ? "selected" : "")?> value="7">July</option>
									      <option <?=($month2 == 8 ? "selected" : "")?> value="8">August</option>
									      <option <?=($month2 == 9 ? "selected" : "")?> value="9">September</option>
									      <option <?=($month2 == 10 ? "selected" : "")?> value="10">October</option>
									      <option <?=($month2 == 11 ? "selected" : "")?> value="11">November</option>
									      <option <?=($month2 == 12 ? "selected" : "")?> value="12">December</option>
									    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                	<?php
                                		echo '<select class="form-control" name="year" required';
										 $starting_year = '2019';
										 $ending_year = date('Y');
										 $current_year = date('Y');
										 
										 for($starting_year; $starting_year <= $current_year; $starting_year++) 
										 {
										    echo '<option value="'.$starting_year.'"';
										    if( $starting_year ==  $current_year ) 
										    {
										        echo ' selected="selected"';
										    }
										     echo ' >'.$starting_year.'</option>';
										 }               
										 echo '<select>';
                                	?>
                                </div>                            
                            </div>
                            
                            
                            
  <?php                            
if($team == 6)
{
//echo "hi";
?>                          
<div class="col-sm-2">
                            <div class="form-group">
                                	<?php
                                        
                                        //echo "<pre>"; print_r($retrieve_team); die;
                                		echo '<select class="form-control" name="lstTeam" id="lstTeam" >';
                                                echo '<option value="">Select Team</option>';
										 
									
for($n=0; $n<count($retrieve_team);$n++)
{
    ?>
    
 <option <?php if(isset($fetched_team) && $fetched_team != ""){if($retrieve_team[$n]['id'] == $fetched_team) {echo "selected";} else { echo "";}}?> value="<?php echo $retrieve_team[$n]['id']; ?>" ><?php echo $retrieve_team[$n]['name']; ?></option>;
<?php	 
    }               
			echo '</select>';
                                                
                                       
                                                
                                                
                                	?>
                                </div> 
                                <input type="hidden" name="fetched_team" id="fetched_team" value="<?php if(isset($fetched_team) && $fetched_team != ""){ echo $fetched_team; } ?>" >
                                </div>                             
  <?php                            
}

?>                             
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <div class="col-sm-2">
                            <div class="form-group">
                                	<?php
                                        
                                        //echo "<pre>"; print_r($retrieve_emp); die;
                                		echo '<select class="form-control" name="agent" id="lstAgent" >';
                                                echo '<option value="">Select Agent</option>';
										 
									
for($n=0; $n<count($retrieve_emp);$n++)
{
    ?>
    
 <option <?php if(isset($agent) && $agent != ""){if($retrieve_emp[$n]['id'] == $agent) {echo "selected";} else { echo "";}}?> value="<?php echo $retrieve_emp[$n]['id']; ?>" ><?php echo $retrieve_emp[$n]['name']; ?></option>;
<?php	 
    }               
			echo '</select>';
                                                
                                       
                                                
                                                
                                	?>
                                </div> 
                                <input type="hidden" name="team" id="team" value="<?php echo $team; ?>" >
                                </div> 
                            
                            
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <?php echo $this->Form->input('Search',array('type'=>'submit', 'class'=>'btn btn-secondary', 'label'=>false));?>
                                </div> 
                            </div>
                            
<div class="col-sm-3">
                                <div class="form-group">
                                <button type="button"  class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Add Review</button> 
                                </div> 
                            </div>                            
                            
                            
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="error" id="atterror">
                                    </div>
                                    <div class="success" id="attsuccess">
                                    </div>
                                    <div class="mt-4">
                                    
                  <?php echo $this->Form->end();?>

                                    </div>
                                </div>
                            </div>
                        </div>
                	
                </div>	
            </div>













<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                      

                      
                                   
<?php


 if(isset($ary_weeks_data))
{ 
for($d=0; $d<count($ary_weeks_data);$d++)
{
?>
                            <h4><?php echo $user_details2[$d][0]['name']; ?></h4>                            
<?php
if(isset($ary_weeks) && $ary_weeks != "")
{
for($i=0; $i<count($ary_weeks);$i++)
{
    //$week_attendance = $ary_weeks_data[$d][$i]['week_attendance'][0]['full'] + $ary_weeks_data[$d][$i]['week_attendance'][0]['haif'];

    if(isset($ary_weeks_data[$d][$i]['week_spent'][0]['spent']))
{ 
    $week_spent =  $ary_weeks_data[$d][$i]['week_spent'][0]['spent'];
}
else
{
    $week_spent =  "0"; 
};

    if(isset($ary_weeks_data[$d][$i]['week_rework'][0]['rework']))
{ 
    $week_rework =  $ary_weeks_data[$d][$i]['week_rework'][0]['rework'];
}
else
{
    $week_rework =  "0"; 
};

    if(isset($ary_weeks_data[$d][$i]['week_billed'][0]['billed']))
{ 
    $week_billed =  $ary_weeks_data[$d][$i]['week_billed'][0]['billed'];
}
else
{
    $week_billed =  "0"; 
};

    
    if(isset($ary_weeks_data[$d][$i]['week_review'][0]['process_adherence']))
{ 
    $process_adherence =  $ary_weeks_data[$d][$i]['week_review'][0]['process_adherence'];
}
else
{
    $process_adherence =  ""; 
};

    
    if(isset($ary_weeks_data[$d][$i]['week_review'][0]['weekly_review']))
{ 
    $weekly_review =  $ary_weeks_data[$d][$i]['week_review'][0]['weekly_review'];
}
else
{
    $weekly_review =  ""; 
};

    if(isset($ary_weeks_data[$d][$i]['week_review'][0]['star_rating']))
{ 
    $star_rating =  $ary_weeks_data[$d][$i]['week_review'][0]['star_rating'];
}
else
{
    $star_rating =  ""; 
};

   if(isset($ary_weeks_data[$d][$i]['week_review'][0]['delivery_projects']))
{ 
    if( $ary_weeks_data[$d][$i]['week_review'][0]['delivery_projects'] == 1)
    {
        $delivery_projects = "Projects Delivered";
    }
    else if( $ary_weeks_data[$d][$i]['week_review'][0]['delivery_projects'] == 2)
    {
        $delivery_projects = "Projects Not Delivered";
    }
}
else
{
    $delivery_projects =  ""; 
}; 



if(isset($ary_weeks_data[$d][$i]['week_review_admin'][0]['admin_process_adherence']))
{ 
    $admin_process_adherence =  $ary_weeks_data[$d][$i]['week_review_admin'][0]['admin_process_adherence'];
}
else
{
    $admin_process_adherence =  ""; 
};

    
    if(isset($ary_weeks_data[$d][$i]['week_review_admin'][0]['admin_weekly_review']))
{ 
    $admin_weekly_review =  $ary_weeks_data[$d][$i]['week_review_admin'][0]['admin_weekly_review'];
}
else
{
    $admin_weekly_review =  ""; 
};

    if(isset($ary_weeks_data[$d][$i]['week_review_admin'][0]['admin_star_rating']))
{ 
    $admin_star_rating =  $ary_weeks_data[$d][$i]['week_review_admin'][0]['admin_star_rating'];
}
else
{
    $admin_star_rating =  ""; 
};


$week_attendance = 0;


//echo "<pre>";print_r($ary_weeks_data[$d][$i]['week_review']); echo "</pre>"; 



foreach($ary_weeks_data[$d][$i]['week_attendance_day_wise'] as $value)
					{ 
                        $spent_detail = $this->Employee->getspent($value['userid'] , $value['day'] ) ;
                        if($spent_detail == 0)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 4)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 7)
                        {
                        $attendance_detail = 0.5;
                        }
                        else
                        {
                        $attendance_detail = 1;
                        }
                            

			$week_attendance += $attendance_detail;		  
					} 
            
        if(($user_details2[$d][0]['team'] != '6'))
       {
 ?>
<button class="accordion"
        
        
<?php if($weekly_review !=  "" && $admin_weekly_review != "")
{
    echo 'style="background-color: #EAFAF1"';
}
else if($weekly_review !=  "" && $admin_weekly_review == "")
{
    echo 'style="background-color: #FDF2E9"';
    
}
else if($weekly_review ==  "" && $admin_weekly_review != "")
{
    echo 'style="background-color: #FDF2E9"';
    
}
else
{
    echo 'style="background-color: #FDEDEC"';
    
}
        
?>        
        
        
        
        >
    <?php 
    echo $ary_weeks[$i]['week']; 
    echo " > (".date('d M Y', $ary_weeks[$i]['startdate']);
    echo ") - (".date('d M Y',$ary_weeks[$i]['enddate']);
    echo ") >   Spent Hours: ".$week_spent;
    echo " -   Billed Hours: ".$week_billed;
    echo " -   Reworked Hours: ".$week_rework;
    echo " -   Attendance: ".$week_attendance;
    ?>
</button>
<div class="panel">
    
    <table style="width:100%">
  <tr>
    <th>Point</th>
    <th>Review By Team Lead</th>
    <th>Review Admin</th>
  </tr>
  <tr>
    <td>Process Adherence</td>
    <td><?php echo $process_adherence ?></td>
    <td><?php echo $admin_process_adherence ?></td>
  </tr>
  <tr>
    <td>Weekly Review</td>
    <td><?php echo $weekly_review ?></td>
    <td><?php echo $admin_weekly_review ?></td>
  </tr>
  <tr>
    <td>Rating</td>
    <td><?php echo $star_rating ?></td>
    <td><?php echo $admin_star_rating ?></td>
  </tr>
  <tr>
    <td>Delivery of Projects</td>
    <td><?php echo $delivery_projects ?></td>
    <td></td>
  </tr>
</table>
    
    
    <?php
    
    /*
    echo "Process Adherence: ".$process_adherence."<br><br>";
    echo "Weekly Review: ".$weekly_review."<br><br>";
    echo "Rating: ".$star_rating."<br><br>";
    echo "Delivery of Projects: ".$delivery_projects."<br><br>";
    */
    
  
  if(!empty($user_details2))
    {
      
            //if team is  SEO and users role is Agent  
//     if(($user_details2[$d][0]['team'] == '4') && ($user_details2[$d][0]['role'] == '5'))
     if(($user_details2[$d][0]['team'] == '4'))
      {
         // echo "team".$user_details2[$d]['team'];
         // echo "role".$user_details2[$d]['role'];
  
  ?>
    
    <table class="table">
					<thead class="thead-dark">
					<tr>
<!--						<th>Sr. No.</th>-->
<!--						<th>Name</th>-->
						<th>Date</th>
						<th>Login</th>
						<th>Logout</th>
						<th>Spent</th>
						<th>Billed</th>
						<th>Reworked</th>
						<th>Attendance</th>
<!--						<th>Projects Worked</th>-->
						<!-- <th>Action</th> -->
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
					$sn=1;
					foreach($ary_weeks_data[$d][$i]['week_attendance_day_wise'] as $value)
					{ 
                        $spent_detail = $this->Employee->getspent($value['userid'] , $value['day'] ) ;
                        $billed_detail = $this->Employee->getbilled($value['userid'] , $value['day'] ) ;
                        $rework_detail = $this->Employee->getrework($value['userid'] , $value['day'] ) ;
                        $projects_detail = $this->Employee->getproject($value['userid'] , $value['day'] ) ;
      
                       // echo "<pre>"; print_r($seostats_detail);
                        
                        
                        if($spent_detail == 0)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 4)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 7)
                        {
                        $attendance_detail = 0.5;
                        }
                        else
                        {
                        $attendance_detail = 1;
                        }
                            

					  	?>
							<tr>
<!--								<td><?= $sn; ?></td>-->
<!--								<td><?= $value['u']['name'] ?></td>-->
								<td><?= date('jS M, y', $value['day']); ?></td>
								<td><?= date("h:i A", $value['login']);?></td>
								<td><?= ($value['logout'] == "" ? "NA" : date("h:i A", $value['logout']))?></td>
								
								<td><?= ($spent_detail == "" ? 0 : $spent_detail) ?></td>
								<td><?= ($billed_detail == "" ? 0 : $billed_detail) ?></td>
								<td><?= ($rework_detail == "" ? 0 : $rework_detail) ?></td>
								<td><?= $attendance_detail ?></td>
                                                         </tr>
							
					  	<?php
					  	$sn++;
					   
					} 
					?>
					<tbody>
				</table>
    
    
    
    
    <table class="table">
					<thead class="thead-dark">
					<tr>
<!--						<th>Sr. No.</th>-->
<!--						<th>Name</th>-->
                                            						<th>Project</th>

						<th>SEO Keywords</th>
						<th>Visits</th>
						<th>BackLinks</th>
						<th>Optins</th>
						<th>Action</th>
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
					//$sn=1;
				//	foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
				//	{ 
                                        
                                        // echo "<pre>"; print_r($ary_weeks_data[$d][$i]);
if(isset($ary_weeks_data[$d][$i]['week_attendance_day_wise'][0]['userid']) && $ary_weeks_data[$d][$i]['week_attendance_day_wise'][0]['userid'] != "")
{
$userid5 =    $ary_weeks_data[$d][$i]['week_attendance_day_wise'][0]['userid'];                                      
                                        
                        $seostats_detail = $this->Employee->getseostats($userid5 , $ary_weeks[$i]['startdate'], $ary_weeks[$i]['enddate'] ) ;
      
                        //echo "<pre>"; print_r($seostats_detail);
                        
                        	foreach($seostats_detail as $seostats_detail_value)
					{
                           // echo "<pre>"; print_r($seostats_detail_value);

					  	?>

                                            
                                            
                                            <tr>
					
<?php     
/*
echo 'week_first_date_seo'.$week_first_date_seo;                                                                
echo 'week_last_date_seo'.$week_last_date_seo;                                                                
echo "seostats_detail_value['week_first_date']".$seostats_detail_value['week_first_date'];                                                                
echo "seostats_detail_value['week_last_date']".$seostats_detail_value['week_last_date'];                   */                                                
?>                                                
                                                
                                                
                                                
                                                
                                                <td><?php if(isset($seostats_detail_value['u']['name'])){echo $seostats_detail_value['u']['name'];} ?></td>
                                                                
                                                                <td><?php if(isset($seostats_detail_value['keywords'])){echo $seostats_detail_value['keywords'];} ?></td>
                                                                <td><?php if(isset($seostats_detail_value['visits'])){echo $seostats_detail_value['visits'];} ?></td>
                                                                <td><?php if(isset($seostats_detail_value['backlinks'])){echo $seostats_detail_value['backlinks'];} ?></td>
                                                                <td><?php if(isset($seostats_detail_value['options'])){echo $seostats_detail_value['options'];} ?></td>
                                                                <td><?php
                                                                
                                                                //echo $week_first_date_seo;
                                                                //echo $value['day'];
                                             
   
                                                                if(isset($seostats_detail_value['created'])){
                                                                if($week_first_date_seo <= $seostats_detail_value['week_first_date'] && $week_last_date_seo >= $seostats_detail_value['week_last_date'])
                                                                {
                	$base_url = array('controller' => 'Seos', 'action' => 'edit');
                       echo $this->Form->create("Filteratt2",array('url' => $base_url , 'method' => "post"  ));
                    ?>
                                
                                <div class="form-group">
                    <input type="hidden" value="<?php if(isset($seostats_detail_value['created'])){echo $seostats_detail_value['created'];}?>"  name="date">
                    <input type="hidden" value="<?php echo $userid5;?>"  name="userid">
                                    
                                    <?php echo $this->Form->input('Edit',array('type'=>'submit', 'class'=>'btn btn-secondary', 'label'=>false));?>
                                </div>                            
                                    
                  <?php echo $this->Form->end();
                                                                    
                                                                }
                                                                }
                                                                
                                                                
                                                                
                                                                ?></td>

								
							</tr>
							
					  	<?php
					  //	$sn++;
                                        }
					//} 
}
					?>
					<tbody>
				</table>
    
    
    
    
    
    
    <table class="table">
					<thead class="thead-dark">
					<tr>
                                            						<th>Project</th>

						<th>SMO Followers Insta</th>
						<th>Twitter</th>
						<th>Linkedin</th>
						<th>SMO Optins</th>
						<th>Action</th>
                                                
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
if(isset($ary_weeks_data[$d][$i]['week_attendance_day_wise'][0]['userid']) && $ary_weeks_data[$d][$i]['week_attendance_day_wise'][0]['userid'] != "")
{
                                        
$userid5 =    $ary_weeks_data[$d][$i]['week_attendance_day_wise'][0]['userid'];                                      
                                        
                        $smostats_detail = $this->Employee->getsmostats($userid5 , $ary_weeks[$i]['startdate'], $ary_weeks[$i]['enddate'] ) ;
      
                        //echo "<pre>"; print_r($seostats_detail);
                        
                        	foreach($smostats_detail as $smostats_detail_value)
					{
                                        
                                        
					//$sn=1;
				//	foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
				//	{ 
                        //$smostats_detail = $this->Employee->getsmostats($value['userid'] , $value['day'] ) ;
      
                        //echo "<pre>"; print_r($smostats_detail);
                        
                        
                            

					  	?>
                                                         <tr>
                                                                
								<td><?php if(isset($smostats_detail_value['u']['name'])){echo $smostats_detail_value['u']['name'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_followers_insta'])){echo $smostats_detail_value['smo_followers_insta'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_twittr'])){echo $smostats_detail_value['smo_twittr'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_linkedin'])){echo $smostats_detail_value['smo_linkedin'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_optins'])){echo $smostats_detail_value['smo_optins'];} ?></td>
                                                                <td><?php


if(isset($smostats_detail[0]['created'])){                                                                
                                                                if($week_first_date_seo <= $value['day'] && $week_last_date_seo >= $value['day'])
                                                                {
                                                                    
                	$base_url = array('controller' => 'Seos', 'action' => 'edit');
                       echo $this->Form->create("Filteratt2",array('url' => $base_url , 'method' => "post"  ));
                    ?>
                                
                                <div class="form-group">
                    <input type="hidden" value="<?php if(isset($smostats_detail_value['created'])){echo $smostats_detail_value['created'];}?>"  name="date">
                    <input type="hidden" value="<?php echo $userid5;?>"  name="userid">
                                    
                                    <?php echo $this->Form->input('Edit',array('type'=>'submit', 'class'=>'btn btn-secondary', 'label'=>false));?>
                                </div>                            
                                    
                  <?php echo $this->Form->end();                                                                    
                                                                    
                                                                    
                                                                    
                                                                }       
                                                                    
                                                                }
                                                                
                                                                
                                                                ?></td>

								
							</tr>
							
					  	<?php
					  	//$sn++;
					   
					} 
}
					?>
					<tbody>
				</table>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   <?php 
      }  
            //if team is not SEO and users role is not Manager  
      //if(($user_details2[$d][0]['team'] != '4') && ($user_details2[$d][0]['role'] != '2'))
      
      //Show login logout details for Manager also
      else  if(($user_details2[$d][0]['team'] != '0') )
      {
         // echo "team".$user_details2[$d]['team'];
         // echo "role".$user_details2[$d]['role'];
  
  ?>
    
    <table class="table">
					<thead class="thead-dark">
					<tr>
<!--						<th>Sr. No.</th>-->
<!--						<th>Name</th>-->
						<th>Date</th>
						<th>Login</th>
						<th>Logout</th>
						<th>Spent</th>
						<th>Billed</th>
						<th>Reworked</th>
						<th>Attendance</th>
						<th>Projects Worked</th>
						<!-- <th>Action</th> -->
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
					$sn=1;
					foreach($ary_weeks_data[$d][$i]['week_attendance_day_wise'] as $value)
					{ 
                        $spent_detail = $this->Employee->getspent($value['userid'] , $value['day'] ) ;
                        $billed_detail = $this->Employee->getbilled($value['userid'] , $value['day'] ) ;
                        $rework_detail = $this->Employee->getrework($value['userid'] , $value['day'] ) ;
                        $projects_detail = $this->Employee->getproject($value['userid'] , $value['day'] ) ;
      
                        if($spent_detail == 0)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 4)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 7)
                        {
                        $attendance_detail = 0.5;
                        }
                        else
                        {
                        $attendance_detail = 1;
                        }
                            

					  	?>
							<tr>
<!--								<td><?= $sn; ?></td>-->
<!--								<td><?= $value['u']['name'] ?></td>-->
								<td><?= date('jS M, y', $value['day']); ?></td>
								<td><?= date("h:i A", $value['login']);?></td>
								<td><?= ($value['logout'] == "" ? "NA" : date("h:i A", $value['logout']))?></td>
								
								<td><?= ($spent_detail == "" ? 0 : $spent_detail) ?></td>
								<td><?= ($billed_detail == "" ? 0 : $billed_detail) ?></td>
								<td><?= ($rework_detail == "" ? 0 : $rework_detail) ?></td>
								<td><?= $attendance_detail ?></td>
								<td>
<?php                        
for($j=0; $j<count($projects_detail);$j++)
{
//echo "<pre>";print_r($projects_detail); echo "</pre>"; 
                            
echo $j+1 . " ". $projects_detail[$j]['description']. " (". $projects_detail[$j]['cl']['fname']." ". $projects_detail[$j]['cl']['lname'].")<br>";                          
                        
}                      
?>
                                                                    </td>
								<!-- <td>
									<a href="/bpmt/attendance/update/<?=md5($value['id'])?>" title="Edit" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></a>
								</td> -->
							</tr>
							
					  	<?php
					  	$sn++;
					   
					} 
					?>
					<tbody>
				</table>
    
   <?php 
      }
    }
    
    ?>
</div>
<?php
	} 
}
}
}
}
?>                      


    
                            
                            
                       
            </div>
        </div>
    </div>
    
    
    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Review</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
         <?php	echo $this->Form->create(false , ['url' => ['action' => 'addpj'] , 'id' => "addteamreviewform" , 'method' => "post"  ]); ?>
                            <br> <h5>Enter Review</h5>   
 <div class="col-sm-4 pl-0 pt-3">
                                <div class="form-group">
                                	<?php
                                        
/*                                        
                                        for($l=0; $l<count($ary_weeks_current_month);$l++)
{
                                            
    echo '"'.$ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate'].'"';
                   
	     echo ' '.date('d M Y',$ary_weeks_current_month[$l]['startdate']).date('d M Y',$ary_weeks_current_month[$l]['enddate']).'';
                                            
                                            

}
*/                                        
                                        
                                		echo '<select class="form-control" name="week_for_reviews" required>';
                                                echo '<option value="">Select Week</option>';
                                        //echo "<pre>"; print_r($ary_weeks_current_month); die;
                                                
for($l=0; $l<count($ary_weeks_previous_month);$l++)
{
                                            
    echo '<option value="'.$ary_weeks_previous_month[$l]['startdate'].','.$ary_weeks_previous_month[$l]['enddate'].'"';
                   
	 echo ' >'.date('d M Y',$ary_weeks_previous_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_previous_month[$l]['enddate']).'</option>';
                                            
                                            

}                                                
                                                
                                                
                                                
                                        for($l=0; $l<count($ary_weeks_current_month);$l++)
{
                                            
    echo '<option value="'.$ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate'].'"';
                   
	 echo ' >'.date('d M Y',$ary_weeks_current_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_current_month[$l]['enddate']).'</option>';
                                            
                                            

}
										 
									
			echo '</select>';
                                                
                                       
                                                
                                                
                                	?>
                                </div>                            
                            </div>

                            
<!--<div class="col-sm-4 pl-0 pt-3">
                                <div class="form-group">
                                	<?php
                                        /*
                                        //echo "<pre>"; print_r($retrieve_emp); die;
                                		echo '<select class="form-control" name="agent" required>';
                                                echo '<option value="">Select Agent</option>';
										 
									
for($n=0; $n<count($retrieve_emp);$n++)
{
    
    echo '<option value="'.$retrieve_emp[$n]['id'].'"';
                   
	     echo ' >'.$retrieve_emp[$n]['name'].'</option>';
	 }               
			echo '</select>';
                                                
                              */         
                                                
                                                
                                	?>
                                </div>                            
                            </div>-->

<input type="hidden" id="lstAgent2" name="agent">


<?php                            
if($team == 6)
{
//echo "hi";
?>
<div class="row clearfix">
                                <div class="col-sm-12">
                                <label>Rating *</label>
                                

<section class='rating-widget'>
  
  <!-- Rating Stars Box -->
  <div class='rating-stars text-left'>
    <ul id='stars'>
      <li class='star' title='Poor' data-value='1'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Fair' data-value='2'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Good' data-value='3'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Excellent' data-value='4'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='WOW!!!' data-value='5'>
        <i class='fa fa-star fa-fw'></i>
      </li>
    </ul>
  </div>  
  
  
</section>


<input type="text" class="rating-input-hide" id="admin_star_rating" name="admin_star_rating" required>
<style>
   /* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}



.rating-input-hide
{
  position: absolute;
    top: 0;
    margin-top: 32px;
    z-index: -1;  
}
</style>
<script>
  
</script>
                                </div>

                            <div class="row clearfix col-sm-12">
                                <div class="col-sm-12">
                                <label>Process Adherence *</label>
                                    <div class="form-group">
<!--                                        <input type="text" class="form-control" name="process_adherence" required placeholder="Process Adherence *">-->
                                        <textarea class="form-control" rows="4" name="admin_process_adherence" placeholder="Process Adherence *" required></textarea>
                                    </div>
                                </div>
                                                   
                                <div class="col-sm-12">
                                <label>Weekly Review *</label>
                                    <div class="form-group">
<!--                                        <input type="text" class="form-control" name="weekly_review" required placeholder="Weekly Review *">-->
                                        <textarea class="form-control" rows="4" name="admin_weekly_review" placeholder="Weekly Review *" required></textarea>
                                        
                                    </div>
                                </div>


<?php
}
else
{
?>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                <label>Rating *</label>
                                
<!--                                    <div class="form-group">
<ul class="form-rating">
    <li class="rating">
        <div class="rating-star">
            <input id="star1" type="radio" name="rating" value="1" checked/>
            <label for="star1">
                <img src="/bpmt/img/star.png" class="de-active">
                <img src="/bpmt/img/star-active.png" class="active">
            </label>
        </div>
        <div class="rating-star">
            <input id="star2" type="radio" name="rating" value="2">
            <label for="star2">
                <img src="/bpmt/img/star.png" class="de-active">
                <img src="/bpmt/img/star-active.png" class="active">
            </label>
        </div>
        <div class="rating-star">
            <input id="star3" type="radio" name="rating" value="3"/>
            <label for="star3">
                <img src="/bpmt/img/star.png" class="de-active">
                <img src="/bpmt/img/star-active.png" class="active">
            </label>
        </div>
        <div class="rating-star">
            <input id="star4" type="radio" name="rating" value="4"/>
            <label for="star4">
                <img src="/bpmt/img/star.png" class="de-active">
                <img src="/bpmt/img/star-active.png" class="active">
            </label>
        </div>
        <div class="rating-star">
            <input id="star5" type="radio" name="rating" value="5" />
            <label for="star5">
                <img src="/bpmt/img/star.png" class="de-active">
                <img src="/bpmt/img/star-active.png" class="active">
            </label>
        </div>
    </li>
</ul> 
                                        <style>
                                            .rating-star label img{
                                                width: 24px;
                                            }
                                            .form-group ul.form-rating{
                                                margin-left: -42px;
                                            }
                                            .form-group ul.form-rating li.rating{
                                                display: flex;
                                            }
                                            
                                            .form-group ul.form-rating li.rating .rating-star input[type="radio"] ~ label img.de-active{
                                                display: block;
                                            }
                                            
                                            .form-group ul.form-rating li.rating .rating-star input[type="radio"] ~ label img.active{
                                                display: none;
                                            }
                                            .form-group ul.form-rating li.rating .rating-star input[type="radio"]:checked ~ label img.de-active{
                                                display: none;
                                            }
                                            
                                            .form-group ul.form-rating li.rating .rating-star input[type="radio"]:checked ~ label img.active{
                                                display: block;
                                            }
                                            .form-group ul.form-rating li.rating .rating-star input[type="radio"]{
                                                width: 0px;
                                                height: 0px;
                                            }
                                        </style>
                                   </div>-->
<section class='rating-widget'>
  
  <!-- Rating Stars Box -->
  <div class='rating-stars text-left'>
    <ul id='stars'>
      <li class='star' title='Poor' data-value='1'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Fair' data-value='2'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Good' data-value='3'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='Excellent' data-value='4'>
        <i class='fa fa-star fa-fw'></i>
      </li>
      <li class='star' title='WOW!!!' data-value='5'>
        <i class='fa fa-star fa-fw'></i>
      </li>
    </ul>
  </div>  
  
  
</section>


<input type="text" class="rating-input-hide" id="rating" name="rating" required>
<style>
   /* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}



.rating-input-hide
{
  position: absolute;
    top: 0;
    margin-top: 32px;
    z-index: -1;  
}
</style>
<script>
  
</script>
                                </div>

                            <div class="row clearfix col-sm-12">
                                <div class="col-sm-12">
                                <label>Process Adherence *</label>
                                    <div class="form-group">
<!--                                        <input type="text" class="form-control" name="process_adherence" required placeholder="Process Adherence *">-->
                                        <textarea class="form-control" rows="4" name="process_adherence" placeholder="Process Adherence *" required></textarea>
                                    </div>
                                </div>
                                                   
                                <div class="col-sm-12">
                                <label>Weekly Review *</label>
                                    <div class="form-group">
<!--                                        <input type="text" class="form-control" name="weekly_review" required placeholder="Weekly Review *">-->
                                        <textarea class="form-control" rows="4" name="weekly_review" placeholder="Weekly Review *" required></textarea>
                                        
                                    </div>
                                </div>
                                                   
<div class="col-sm-4">
                                 <label>Delivery of Projects *</label>
                                    <div class="form-group">
<select class="form-control" id="delivery_projects" name="delivery_projects"  required>
									      <option value="" >Select Option</option>
									      <option  value="1">Projects Delivered</option>
									      <option  value="2">Projects Not Delivered</option>
									    </select>                                    </div>
                                </div>
                                
<?php
}
?>
                                                   
                        <input type="hidden" name="team" id="team" value="<?php echo $team; ?>" >
                                            
                                <div class="col-sm-12">

                                <div class="error" id="pjerror"></div>
                    <div class="success" id="pjsuccess"></div>   
                    <div class="mt-4">
                        
<?php if($canSubmitWeeklyReview == "1")
{
    ?>
                                        <button type="submit" id="addpjtn" class="btn btn-primary">Submit</button>
<?php
}
else
{

    echo "Weekly Reviews for current week can be submitted only till Wednesday!";
}
?>
                                        




                   <?php echo $this->Form->end(); ?>
                                        
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active2");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}



 $(document).ready(function(){
  
  /* 1. Visualizing things on Hover - See next part for action on click */
  $('#stars li').on('mouseover', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
   
    // Now highlight all the stars that's not after the current hovered star
    $(this).parent().children('li.star').each(function(e){
      if (e < onStar) {
        $(this).addClass('hover');
      }
      else {
        $(this).removeClass('hover');
      }
    });
    
  }).on('mouseout', function(){
    $(this).parent().children('li.star').each(function(e){
      $(this).removeClass('hover');
    });
  });
  
  
  /* 2. Action to perform on click */
  $('#stars li').on('click', function(){
    var onStar = parseInt($(this).data('value'), 10); // The star currently selected
    var stars = $(this).parent().children('li.star');
    
    for (i = 0; i < stars.length; i++) {
      $(stars[i]).removeClass('selected');
    }
    
    for (i = 0; i < onStar; i++) {
      $(stars[i]).addClass('selected');
    }
    
    // JUST RESPONSE (Not needed)
    var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
    
    
    $('input[name="rating"]').val(ratingValue);
    $('input[name="admin_star_rating"]').val(ratingValue);
    
    var msg = "";
    if (ratingValue > 1) {
        msg = "Thanks! You rated this " + ratingValue + " stars.";
    }
    else {
        msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
    }
    //responseMessage(msg);
    
  });
  
  
  
  
  $("#lstAgent").change(function (event) {
            //alert("You have Selected  :: "+$(this).val());
            $("#lstAgent2").val($(this).val());
            
            //alert("lstAgent2" + $("#lstAgent2").val());
        });
  
  
  /*
  $('#search').click(function() {
            $("#lstAgent2").val($("#lstAgent").val());
    });
*/  
  
/*  
  
  $('#myModal').click(function() {
            $("#lstAgent2").val($("#lstAgent").val());
    });
  
*/  
  
  $('#lstTeam').on('change', function (){
      
$("#lstAgent").val($("#lstAgent option:first").val());      
      
    });
  
  
  
  $('#lstAgent').on('change', function (){
      
$("#lstTeam").val($("#lstTeam option:first").val());      
      
    });
  
  
  
  
  
  
});


function responseMessage(msg) {
  $('.success-box').fadeIn(200);  
  $('.success-box div.text-message').html("<span>" + msg + "</span>");
}


</script>
