 <?php	echo $this->Form->create(false , ['url' => ['action' => 'addpj2'] , 'id' => "showweekprojectsform" , 'method' => "post"  ]); ?>
                            <br> <h5>Select Week</h5>   
 <div class="col-sm-4 pl-0 pt-3">
                                <div class="form-group">
                                	<?php
                                        
/*                                        
                                        for($l=0; $l<count($ary_weeks_current_month);$l++)
{
                                            
    echo '"'.$ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate'].'"';
                   
	     echo ' '.date('d M Y',$ary_weeks_current_month[$l]['startdate']).date('d M Y',$ary_weeks_current_month[$l]['enddate']).'';
                                            
                                            

}
*/                                        
                                        
                                		echo '<select class="form-control" name="week_for_reviews" required>';
                                                echo '<option value="">Select Week</option>';
                                        //echo "<pre>"; print_r($ary_weeks_current_month); die;
                                                
for($l=0; $l<count($ary_weeks_previous_month);$l++)
{
                                            
    echo '<option value="'.$ary_weeks_previous_month[$l]['startdate'].','.$ary_weeks_previous_month[$l]['enddate'].'"';
                   
	 echo ' >'.date('d M Y',$ary_weeks_previous_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_previous_month[$l]['enddate']).'</option>';
                                            
                                            

}                                                
                                                
                                                
                                                
                                        for($l=0; $l<count($ary_weeks_current_month);$l++)
{
                                            
    echo '<option value="'.$ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate'].'"';
                   
	 echo ' >'.date('d M Y',$ary_weeks_current_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_current_month[$l]['enddate']).'</option>';
                                            
                                            

}
										 
									
			echo '</select>';
                                                
                                       
                                                
                                                
                                	?>
                                </div>                            
                            </div>
                            
                            
                            <button type="submit" id="addpj2tn" class="btn btn-primary">Fetch Projects</button>
                            <?php echo $this->Form->end(); ?>
                            
                            
