<!--                            <br> <h5>Selected Week</h5>  -->
                            
                            <?php
//echo date('d M Y',$week_first_date).' To '.date('d M Y',$week_last_date);                            
//echo $week_first_date.' - '.$week_last_date;   
?>               
                            
 <?php	echo $this->Form->create(false , ['url' => ['action' => 'addpj2'] , 'id' => "showweekprojectsform" , 'method' => "post"  ]); ?>
                            <br> <h5>Select Week</h5>   
 <div class="col-sm-4 pl-0 pt-3">
                                <div class="form-group">
                                	<?php
                                        
/*                                        
                                        for($l=0; $l<count($ary_weeks_current_month);$l++)
{
                                            
    echo '"'.$ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate'].'"';
                   
	     echo ' '.date('d M Y',$ary_weeks_current_month[$l]['startdate']).date('d M Y',$ary_weeks_current_month[$l]['enddate']).'';
                                            
                                            

}
*/                                        
//echo $week_for_reviews2; die;          
                                        
                                		echo '<select class="form-control" name="week_for_reviews" required>';
                                                echo '<option value="">Select Week</option>';
                                        //echo "<pre>"; print_r($ary_weeks_current_month); die;
                                                
for($l=0; $l<count($ary_weeks_previous_month);$l++)
{
  ?>       
<option <?php if(isset($week_for_reviews2) && $week_for_reviews2 != ""){if(($ary_weeks_previous_month[$l]['startdate'].','.$ary_weeks_previous_month[$l]['enddate']) == $week_for_reviews2) {echo "selected";} else { echo "";}}?> value="<?php echo $ary_weeks_previous_month[$l]['startdate'].','.$ary_weeks_previous_month[$l]['enddate']; ?>" ><?php echo date('d M Y',$ary_weeks_previous_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_previous_month[$l]['enddate']); ?></option>;    
    
     <?php	
     
     /*
     
     echo '<option value="'.$ary_weeks_previous_month[$l]['startdate'].','.$ary_weeks_previous_month[$l]['enddate'].'"';
                   
	 echo ' >'.date('d M Y',$ary_weeks_previous_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_previous_month[$l]['enddate']).'</option>';
         
         */
}                                                
                                                
                                                
                                                
                                        for($l=0; $l<count($ary_weeks_current_month);$l++)
{
                                            
   ?>       
<option <?php if(isset($week_for_reviews2) && $week_for_reviews2 != ""){if(($ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate']) == $week_for_reviews2) {echo "selected";} else { echo "";}}?> value="<?php echo $ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate']; ?>" ><?php echo date('d M Y',$ary_weeks_current_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_current_month[$l]['enddate']); ?></option>;    
    
     <?php	 
          
                                            
                                            
                                            
/*                                            
                                            echo '<option value="'.$ary_weeks_current_month[$l]['startdate'].','.$ary_weeks_current_month[$l]['enddate'].'"';
                   
	 echo ' >'.date('d M Y',$ary_weeks_current_month[$l]['startdate']).' To '.date('d M Y',$ary_weeks_current_month[$l]['enddate']).'</option>';
                                            
*/                                            
} 

										 
									
			echo '</select>';
                                                
                                       
                                                
                                                
                                	?>
                                </div>                            
                            </div>
                            
                            
                            <button type="submit" id="addpj2tn" class="btn btn-primary">Fetch Projects</button>
                            <?php echo $this->Form->end(); ?>
                            
                            
                            
   <?php echo $this->Form->create(false, ['url' => ['action' => 'addpj'], 'id' => "addseoform", 'method' => "post"]); ?>            
                            
<br> <h5>Select Project</h5>   
 <div class="col-sm-4 pl-0 pt-3">
                                <div class="form-group">
                                	<?php
                                        // echo "<pre>"; print_r($pj_details); 
                        

                                        
                                		echo '<select class="form-control" name="project_for_week" required>';
                                                echo '<option value="">Select Project</option>';
                                        
                                                
for($kk=0; $kk<count($pj_details);$kk++)
{
                                            
    echo '<option value="'.$pj_details[$kk]['u']['id'].'"';
                   
	 echo ' >'.$pj_details[$kk]['u']['name'].'</option>';
    
}                                                
  						
			echo '</select>';
                                                
                                       
                                                
                                                
                                	?>
                                </div>                            
                            </div> 
                                                        
                            

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
<h5>Input Stats</h5>   
                <select id='purpose'>
                    <option value="">Select</option>
                    <option value="1">SEO Stats</option>
                    <option value="2">SMO Stats</option>
                </select>                            



                

                
                
                
                
                
                
                
                
                
                
                <div style='display:none;' id='div_seo'>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h5>SEO Stats </h5>
                        </div>

                        <div class="col-sm-12">
                            <label>Keywords</label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="keywords"  placeholder="Keywords ">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>Visits </label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="visits"  placeholder="Visits ">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>BackLinks </label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="backlinks"  placeholder="BackLinks ">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>Optins </label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="options"  placeholder="Optins ">
                            </div>
                        </div>
                    </div>
                </div>






                <div style='display:none;' id='div_smo'>    
                    <div class="col-sm-12">
                        <h5>SMO Stats </h5>
                    </div>


                    <div class="col-sm-12">
                        <label>Followers Insta</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="smo_followers_insta"  placeholder="SMO Followers Insta">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label>Twitter</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="smo_twittr"  placeholder="Twitter">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label>Linkedin </label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="smo_linkedin"  placeholder="Linkedin">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label>SMO Optins </label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="smo_optins"  placeholder="SMO Optins">
                        </div>
                    </div>
                </div>



                <div style='display:none;' id='div_btn'>    
                    <div class="col-sm-12">

                        <div class="error" id="pjerror"></div>
                        <div class="success" id="pjsuccess"></div>   
                        <div class="mt-4">
                            <input type="hidden" name="userid" id="userid" value="<?php echo $userid; ?>" >
                            <input type="hidden" name="week_first_date" id="week_first_date" value="<?php echo $week_first_date; ?>" >
                            <input type="hidden" name="week_last_date" id="week_last_date" value="<?php echo $week_last_date; ?>" >
                           

                            <button type="submit" id="addpjtn" class="btn btn-primary">Add</button>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->Form->end(); ?>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#purpose').on('change', function () {
            if (this.value == '1')
            {
                $("#div_seo").show();
                $("#div_btn").show();
            } else if (this.value == '2')
            {
                $("#div_smo").show();
                $("#div_btn").show();
            } else if (this.value == '')
            {
                $("#div_seo").hide();
                $("#div_smo").hide();
                $("#div_btn").hide();
            }
        });
    });

        </script>