<?php  
//echo "<pre>";
// print_r($graph_data);
// die;

//echo $month; die;


if (!empty($graph_data)) 
{
  
$android='';
$seo='';
$designing='';
$ios='';
$php='';
$wp='';
$date='';
krsort($graph_data);
// print_r($graph_data);
foreach ($graph_data as $key => $val) 
{   
    foreach ($val as $key1 => $val1) {
        if ($val1['t']['name']==='Android') {
            $android.="'".$val1['billed']."',";
            $date .="'".date('jS F Y',$val1['billedon'])."',";
        }
        if ($val1['t']['name']==='Designing') {
            $designing.="'".$val1['billed']."',";
        }
        
        if ($val1['t']['name']==='PHP') {
            $php.="'".$val1['billed']."',";
        }
        
        if ($val1['t']['name']==='SEO') {
            $seo.="'".$val1['billed']."',";
        }
        
        if ($val1['t']['name']==='WP') {
            $wp.="'".$val1['billed']."',";
        }
        if ($val1['t']['name']==='iOS') {
            $ios.="'".$val1['billed']."',";
        }

        // echo $val1['t']['name'].'::'.$val1['billed'].'::'.date('jS F Y',$val1['billedon']);echo "<br>";
    }
   
}

}
//echo $android.'<br>';echo $designing;

if($android==""){$android='0';}
if($seo==""){$seo='0';}
if($designing==""){$designing='0';}
if($ios==""){$ios='0';}
if($wp==""){$wp='0';}
if($php==""){$php='0';}

if(!isset($android))
{
    $android='0';
}
if(!isset($seo))
{
    $seo='0';
}
if(!isset($designing))
{
    $designing='0';
}
if(!isset($ios))
{
    $ios='0';
}
if(!isset($wp))
{
    $wp='0';
}
if(!isset($php))
{
    $php='0';
}


    if(!empty($top_users))
    {
        $month = date('F', $top_users[0]['billedon']);
    }else{
        $month = date('F', strtotime('now'));
        $top = "empty";

    }
    if(!empty($worst_users))
    {
        $wmonth = date('F', $worst_users[0]['billedon']);
    }else{
        $wmonth = date('F', strtotime('now'));
        $worst = "empty";
    }
    
    if(!empty($team_performances))
     {
        $toptmonth = date('F', $team_performances[0]['billedon']);
     }else{
        $toptmonth = date('F', strtotime('now'));
        $topteammonth = "empty";

     }
    

if(!empty($month_attendances))
{   
    $att = $month_attendances[0]['full']+$month_attendances[0]['haif'];
    $attmonth = date('F',$month_attendances[0]['day']);
}
else{ 
    $att =0;
  $attmonth = date('F',strtotime('now')); 
}

if(!empty($month_spents))
{
    $spent = $month_spents[0]['spent'];
    $spentmonth = date('F',$month_spents[0]['completedtime']);
}
else{ 
    $spent = 0;
  $spentmonth = date('F',strtotime('now'));
}

if(!empty($month_rework))
{
    $rework = $month_rework[0]['rework'];
    $reworkmonth = date('F',$month_rework[0]['completedtime']);
}
else{ 
    $rework = 0;
  $reworkmonth = date('F',strtotime('now'));
}



if(!empty($month_billeds))
{
    $billed = $month_billeds[0]['billed'];
    $billedmonth = date('F', $month_billeds[0]['billedon']);
}
else{ 
    $billed =0;
  $billedmonth = date('F',strtotime('now'));
}

if(!empty($month_bugs))
{
    $bug = $month_bugs[0]['bug'];
    $bugmonth = date('F',$month_bugs[0]['completedtime']);
}
else{ 
    $bug =0;
  $bugmonth = date('F',strtotime('now')); 
}

$PHP = 0;
$Designing = 0;
$SEO = 0;
$iOS = 0;
$Android = 0;
$WP = 0;

    foreach($team_bill as $uservalue) 
    {  
        if($uservalue['t']['name']== "PHP"){
            $PHP++;
        }
        if($uservalue['t']['name']== "WP"){
            $WP++;
        }
        if($uservalue['t']['name']== "Android"){
            $Android++;
        }
        if($uservalue['t']['name']== "SEO"){
            $SEO++;
        }
        if($uservalue['t']['name']== "Designing"){
            $Designing++;
        }
        if($uservalue['t']['name']== "iOS"){
            $iOS++;
        }
       
    }
// print_r($team_performances);
$hr1 = array();
$hr2 = array();
$hr3 = array();
$hr4 = array();
$hr5 = array();
$hr6 = array();
    if(!empty($team_performances[0]))
    {  
        $hn=0;
        foreach($team_performances as $uservalue) 
        {   
            if($uservalue['t']['name']== "Android"){$hr1[$hn] = round($uservalue['billed']/$Android,1);}
            if($uservalue['t']['name']== "Designing"){$hr2[$hn] = round($uservalue['billed']/$Designing,1);}
            if($uservalue['t']['name']== "PHP"){$hr3[$hn] = round($uservalue['billed']/$PHP,1);}
            if($uservalue['t']['name']== "SEO"){$hr4[$hn] = round($uservalue['billed']/$SEO,1);}
            if($uservalue['t']['name']== "WP"){$hr5[$hn] = round($uservalue['billed']/$WP,1);}
            if($uservalue['t']['name']== "iOS"){$hr6[$hn] = round($uservalue['billed']/$iOS,1);}
        } 
        $hours = array_merge($hr1, $hr2, $hr3, $hr4, $hr5, $hr6);
        //rsort($hours);

        $tn=0;
        foreach($team_performances as $uservalue) 
        {
            $teamarray[$tn] = $uservalue['t']['name'];
            $tn++;
        } 
     $name_hours = array_combine($teamarray , $hours);
     arsort($name_hours);   
    }
    
?>
            
<style>
.accordion {
/*  background-color: #eee;*/
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active2, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active2:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>

<!--
<div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card text-center bg-info">
                        <div class="body">
                            <div class="p-15 text-light">
                                <h3><?= $att ?></h3>
                                <span><a style="color:#fff" href="/bpmt/attendance/view/<?=md5($user_details[0]['id'])?>/<?=date('m')?>/<?=date('Y')?>"> <?= $attmonth?> Attendance</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card text-center bg-secondary">
                        <div class="body">
                            <div class="p-15 text-light">
                                <h3><?=$spent ?></h3>
                                <span><?= $spentmonth ?> Spent</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card text-center bg-warning">
                        <div class="body">
                            <div class="p-15 text-light">
                                <h3><?= $billed ?></h3>
                                <span><?= $billedmonth?> Billed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card text-center bg-dark">
                        <div class="body">
                            <div class="p-15 text-light">
                                <h3><?=$bug ?></h3>
                                <span><?= $bugmonth ?> Bug</span>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>-->


<div class="header">
                	<div class="py-1" style="width: 50%;">
 
                <?php	
                	$base_url = array('controller' => 'Dashboard', 'action' => 'search');
                       echo $this->Form->create("Filteratt",array('url' => $base_url , 'method' => "post"  ));
                    ?>
<!--                    <input type="hidden" value="<?=$user?>"  name="user">-->
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <?php //echo $month2; die;?>
                                    <select class="form-control" id="month" name="month" class="month">
									      <option value="" >Select Month</option>
									      <option <?=($month2 == 1 ? "selected" : "")?> value="1">January</option>
									      <option <?=($month2 == 2 ? "selected" : "")?> value="2">February</option>
									      <option <?=($month2 == 3 ? "selected" : "")?> value="3">March</option>
									      <option <?=($month2 == 4 ? "selected" : "")?> value="4">April</option>
									      <option <?=($month2 == 5 ? "selected" : "")?> value="5">May</option>
									      <option <?=($month2 == 6 ? "selected" : "")?> value="6">June</option>
									      <option <?=($month2 == 7 ? "selected" : "")?> value="7">July</option>
									      <option <?=($month2 == 8 ? "selected" : "")?> value="8">August</option>
									      <option <?=($month2 == 9 ? "selected" : "")?> value="9">September</option>
									      <option <?=($month2 == 10 ? "selected" : "")?> value="10">October</option>
									      <option <?=($month2 == 11 ? "selected" : "")?> value="11">November</option>
									      <option <?=($month2 == 12 ? "selected" : "")?> value="12">December</option>
									    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                	<?php
                                		echo '<select class="form-control" name="year"';
										 $starting_year = '2019';
										 $ending_year = date('Y');
										 $current_year = date('Y');
										 
										 for($starting_year; $starting_year <= $current_year; $starting_year++) 
										 {
										    echo '<option value="'.$starting_year.'"';
										    if( $starting_year ==  $current_year ) 
										    {
										        echo ' selected="selected"';
										    }
										     echo ' >'.$starting_year.'</option>';
										 }               
										 echo '<select>';
                                	?>
                                </div>                            
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <?php echo $this->Form->input('Search',array('type'=>'submit', 'class'=>'btn btn-secondary', 'label'=>false));?>
                                </div>                            
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="error" id="atterror">
                                    </div>
                                    <div class="success" id="attsuccess">
                                    </div>
                                    <div class="mt-4">
                                    
                  <?php echo $this->Form->end();?>

                                    </div>
                                </div>
                            </div>
                        </div>
                	
                </div>	
            </div>





<?php 
for($i=0; $i<count($ary_weeks);$i++)
{
    //$week_attendance = $ary_weeks_data[$i]['week_attendance'][0]['full'] + $ary_weeks_data[$i]['week_attendance'][0]['haif'];

    if(isset($ary_weeks_data[$i]['week_spent'][0]['spent']))
{ 
    $week_spent =  $ary_weeks_data[$i]['week_spent'][0]['spent'];
}
else
{
    $week_spent =  "0"; 
};

    if(isset($ary_weeks_data[$i]['week_rework'][0]['rework']))
{ 
    $week_rework =  $ary_weeks_data[$i]['week_rework'][0]['rework'];
}
else
{
    $week_rework =  "0"; 
};

    if(isset($ary_weeks_data[$i]['week_billed'][0]['billed']))
{ 
    $week_billed =  $ary_weeks_data[$i]['week_billed'][0]['billed'];
}
else
{
    $week_billed =  "0"; 
};

    
    if(isset($ary_weeks_data[$i]['week_review'][0]['process_adherence']))
{ 
    $process_adherence =  $ary_weeks_data[$i]['week_review'][0]['process_adherence'];
}
else
{
    $process_adherence =  ""; 
};

    
    if(isset($ary_weeks_data[$i]['week_review'][0]['weekly_review']))
{ 
    $weekly_review =  $ary_weeks_data[$i]['week_review'][0]['weekly_review'];
}
else
{
    $weekly_review =  ""; 
};

    if(isset($ary_weeks_data[$i]['week_review'][0]['star_rating']))
{ 
    $star_rating =  $ary_weeks_data[$i]['week_review'][0]['star_rating'];
}
else
{
    $star_rating =  ""; 
};

    
    if(isset($ary_weeks_data[$i]['week_review'][0]['delivery_projects']))
{ 
    if( $ary_weeks_data[$i]['week_review'][0]['delivery_projects'] == 1)
    {
        $delivery_projects = "Projects Delivered";
    }
    else if( $ary_weeks_data[$i]['week_review'][0]['delivery_projects'] == 2)
    {
        $delivery_projects = "Projects Not Delivered";
    }
}
else
{
    $delivery_projects =  ""; 
};

    


 if(isset($ary_weeks_data[$i]['week_review_admin'][0]['admin_process_adherence']))
{ 
    $admin_process_adherence =  $ary_weeks_data[$i]['week_review_admin'][0]['admin_process_adherence'];
}
else
{
    $admin_process_adherence =  ""; 
};

    
    if(isset($ary_weeks_data[$i]['week_review_admin'][0]['admin_weekly_review']))
{ 
    $admin_weekly_review =  $ary_weeks_data[$i]['week_review_admin'][0]['admin_weekly_review'];
}
else
{
    $admin_weekly_review =  ""; 
};

    if(isset($ary_weeks_data[$i]['week_review_admin'][0]['admin_star_rating']))
{ 
    $admin_star_rating =  $ary_weeks_data[$i]['week_review_admin'][0]['admin_star_rating'];
}
else
{
    $admin_star_rating =  ""; 
};


















$week_attendance = 0;


//echo "<pre>";print_r($ary_weeks_data[$i]['week_review']); echo "</pre>"; 



foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
					{ 
                        $spent_detail = $this->Employee->getspent($value['userid'] , $value['day'] ) ;
                        if($spent_detail == 0)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 4)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 7)
                        {
                        $attendance_detail = 0.5;
                        }
                        else
                        {
                        $attendance_detail = 1;
                        }
                            

			$week_attendance += $attendance_detail;		  
					} 
            
        if(($user_details[0]['team'] != '6'))
       {
 ?>
<button class="accordion" 
        
<?php if($weekly_review !=  "" && $admin_weekly_review != "")
{
    echo 'style="background-color: #EAFAF1"';
}
else if($weekly_review !=  "" && $admin_weekly_review == "")
{
    echo 'style="background-color: #FDF2E9"';
    
}
else if($weekly_review ==  "" && $admin_weekly_review != "")
{
    echo 'style="background-color: #FDF2E9"';
    
}
else
{
    echo 'style="background-color: #FDEDEC"';
    
}
        
?>        
        
        
        
        
        
        
        
        >
    <?php 
    echo $ary_weeks[$i]['week']; 
    echo " > (".date('d M Y', $ary_weeks[$i]['startdate']);
    echo ") - (".date('d M Y',$ary_weeks[$i]['enddate']);
    echo ") >   Spent Hours: ".$week_spent;
    echo " -   Billed Hours: ".$week_billed;
    echo " -   Reworked Hours: ".$week_rework;
    echo " -   Attendance: ".$week_attendance;
    ?>
</button>
<div class="panel">
    <table style="width:100%">
  <tr>
    <th>Point</th>
    <th>Review By Team Lead</th>
    <th>Review Admin</th>
  </tr>
  <tr>
    <td>Process Adherence</td>
    <td><?php echo $process_adherence ?></td>
    <td><?php echo $admin_process_adherence ?></td>
  </tr>
  <tr>
    <td>Weekly Review</td>
    <td><?php echo $weekly_review ?></td>
    <td><?php echo $admin_weekly_review ?></td>
  </tr>
  <tr>
    <td>Rating</td>
    <td><?php echo $star_rating ?></td>
    <td><?php echo $admin_star_rating ?></td>
  </tr>
  <tr>
    <td>Delivery of Projects</td>
    <td><?php echo $delivery_projects ?></td>
    <td></td>
  </tr>
</table>
    
    
    <?php
/*    
    echo "Process Adherence: ".$process_adherence."<br><br>";
    echo "Weekly Review: ".$weekly_review."<br><br>";
    echo "Rating: ".$star_rating."<br><br>";
    echo "Delivery of Projects: ".$delivery_projects."<br><br>";
*/    
  
  if(!empty($user_details))
    {
     
      //if team is  SEO and users role is Agent  
//       if(($user_details[0]['team'] == '4') && ($user_details[0]['role'] == '5'))
       if(($user_details[0]['team'] == '4'))
      {
         // echo "team".$user_details[0]['team'];
         // echo "role".$user_details[0]['role'];
  
  ?>
    
    <table class="table">
					<thead class="thead-dark">
					<tr>
<!--						<th>Sr. No.</th>-->
<!--						<th>Name</th>-->
						<th>Date</th>
						<th>Login</th>
						<th>Logout</th>
						<th>Spent</th>
						<th>Billed</th>
						<th>Reworked</th>
						<th>Attendance</th>
<!--						<th>Projects Worked</th>-->
						<!-- <th>Action</th> -->
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
					$sn=1;
					foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
					{ 
                        $spent_detail = $this->Employee->getspent($value['userid'] , $value['day'] ) ;
                        $billed_detail = $this->Employee->getbilled($value['userid'] , $value['day'] ) ;
                        $rework_detail = $this->Employee->getrework($value['userid'] , $value['day'] ) ;
                        $projects_detail = $this->Employee->getproject($value['userid'] , $value['day'] ) ;
      
                       // echo "<pre>"; print_r($seostats_detail);
                        
                        
                        if($spent_detail == 0)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 4)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 7)
                        {
                        $attendance_detail = 0.5;
                        }
                        else
                        {
                        $attendance_detail = 1;
                        }
                            

					  	?>
							<tr>
<!--								<td><?= $sn; ?></td>-->
<!--								<td><?= $value['u']['name'] ?></td>-->
								<td><?= date('jS M, y', $value['day']); ?></td>
								<td><?= date("h:i A", $value['login']);?></td>
								<td><?= ($value['logout'] == "" ? "NA" : date("h:i A", $value['logout']))?></td>
								
								<td><?= ($spent_detail == "" ? 0 : $spent_detail) ?></td>
								<td><?= ($billed_detail == "" ? 0 : $billed_detail) ?></td>
								<td><?= ($rework_detail == "" ? 0 : $rework_detail) ?></td>
								<td><?= $attendance_detail ?></td>
                                                         </tr>
							
					  	<?php
					  	$sn++;
					   
					} 
					?>
					<tbody>
				</table>
    
    
    
     <table class="table">
					<thead class="thead-dark">
					<tr>
<!--						<th>Sr. No.</th>-->
<!--						<th>Name</th>-->
                                            						<th>Project</th>

						<th>SEO Keywords</th>
						<th>Visits</th>
						<th>BackLinks</th>
						<th>Optins</th>
						<th>Action</th>
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
					//$sn=1;
				//	foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
				//	{ 
                                        
                                       //  echo "<pre>"; print_r($ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid']);
if(isset($ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid']) && $ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid'] != "")
{
                                        
$userid5 =    $ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid'];                                      
                                        
                        $seostats_detail = $this->Employee->getseostats($userid5 , $ary_weeks[$i]['startdate'], $ary_weeks[$i]['enddate'] ) ;
      
                        //echo "<pre>"; print_r($seostats_detail);
                        
                        	foreach($seostats_detail as $seostats_detail_value)
					{
                           // echo "<pre>"; print_r($seostats_detail_value);

					  	?>

                                            
                                            
                                            <tr>
					
<?php     
/*
echo 'week_first_date_seo'.$week_first_date_seo;                                                                
echo 'week_last_date_seo'.$week_last_date_seo;                                                                
echo "seostats_detail_value['week_first_date']".$seostats_detail_value['week_first_date'];                                                                
echo "seostats_detail_value['week_last_date']".$seostats_detail_value['week_last_date'];                   */                                                
?>                                                
                                                
                                                
                                                
                                                
                                                <td><?php if(isset($seostats_detail_value['u']['name'])){echo $seostats_detail_value['u']['name'];} ?></td>
                                                                
                                                                <td><?php if(isset($seostats_detail_value['keywords'])){echo $seostats_detail_value['keywords'];} ?></td>
                                                                <td><?php if(isset($seostats_detail_value['visits'])){echo $seostats_detail_value['visits'];} ?></td>
                                                                <td><?php if(isset($seostats_detail_value['backlinks'])){echo $seostats_detail_value['backlinks'];} ?></td>
                                                                <td><?php if(isset($seostats_detail_value['options'])){echo $seostats_detail_value['options'];} ?></td>
                                                                <td><?php
                                                                
                                                                //echo $week_first_date_seo;
                                                                //echo $value['day'];
                                             
   
                                                                if(isset($seostats_detail_value['created'])){
                                                                if($week_first_date_seo <= $seostats_detail_value['week_first_date'] && $week_last_date_seo >= $seostats_detail_value['week_last_date'])
                                                                {
                	$base_url = array('controller' => 'Seos', 'action' => 'edit');
                       echo $this->Form->create("Filteratt2",array('url' => $base_url , 'method' => "post"  ));
                    ?>
                                
                                <div class="form-group">
                    <input type="hidden" value="<?php if(isset($seostats_detail_value['created'])){echo $seostats_detail_value['created'];}?>"  name="date">
                    <input type="hidden" value="<?php echo $userid5;?>"  name="userid">
                                    
                                    <?php echo $this->Form->input('Edit',array('type'=>'submit', 'class'=>'btn btn-secondary', 'label'=>false));?>
                                </div>                            
                                    
                  <?php echo $this->Form->end();
                                                                    
                                                                }
                                                                }
                                                                
                                                                
                                                                
                                                                ?></td>

								
							</tr>
							
					  	<?php
					  //	$sn++;
                                        }
					//} 
}
					?>
					<tbody>
				</table>
    
    
     <table class="table">
					<thead class="thead-dark">
					<tr>
                                            						<th>Project</th>

						<th>SMO Followers Insta</th>
						<th>Twitter</th>
						<th>Linkedin</th>
						<th>SMO Optins</th>
						<th>Action</th>
                                                
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
  if(isset($ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid']) && $ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid'] != "")
{
                                      
$userid5 =    $ary_weeks_data[$i]['week_attendance_day_wise'][0]['userid'];                                      
                                        
                        $smostats_detail = $this->Employee->getsmostats($userid5 , $ary_weeks[$i]['startdate'], $ary_weeks[$i]['enddate'] ) ;
      
                        //echo "<pre>"; print_r($seostats_detail);
                        
                        	foreach($smostats_detail as $smostats_detail_value)
					{
                                        
                                        
					//$sn=1;
				//	foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
				//	{ 
                        //$smostats_detail = $this->Employee->getsmostats($value['userid'] , $value['day'] ) ;
      
                        //echo "<pre>"; print_r($smostats_detail);
                        
                        
                            

					  	?>
                                                         <tr>
                                                                
								<td><?php if(isset($smostats_detail_value['u']['name'])){echo $smostats_detail_value['u']['name'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_followers_insta'])){echo $smostats_detail_value['smo_followers_insta'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_twittr'])){echo $smostats_detail_value['smo_twittr'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_linkedin'])){echo $smostats_detail_value['smo_linkedin'];} ?></td>
                                                                <td><?php if(isset($smostats_detail_value['smo_optins'])){echo $smostats_detail_value['smo_optins'];} ?></td>
                                                                <td><?php


if(isset($smostats_detail[0]['created'])){                                                                
                                                                if($week_first_date_seo <= $value['day'] && $week_last_date_seo >= $value['day'])
                                                                {
                                                                    
                	$base_url = array('controller' => 'Seos', 'action' => 'edit');
                       echo $this->Form->create("Filteratt2",array('url' => $base_url , 'method' => "post"  ));
                    ?>
                                
                                <div class="form-group">
                    <input type="hidden" value="<?php if(isset($smostats_detail_value['created'])){echo $smostats_detail_value['created'];}?>"  name="date">
                    <input type="hidden" value="<?php echo $userid5;?>"  name="userid">
                                    
                                    <?php echo $this->Form->input('Edit',array('type'=>'submit', 'class'=>'btn btn-secondary', 'label'=>false));?>
                                </div>                            
                                    
                  <?php echo $this->Form->end();                                                                    
                                                                    
                                                                    
                                                                    
                                                                }       
                                                                    
                                                                }
                                                                
                                                                
                                                                ?></td>

								
							</tr>
							
					  	<?php
					  	//$sn++;
					   
					} 
}
					?>
					<tbody>
				</table>
    
   <?php 
      } 
      //if team is not SEO and users role is not Manager  
      //if(($user_details[0]['team'] != '4') && ($user_details[0]['role'] != '2'))
      
      //Show login logout details for Manager also
      else  if(($user_details[0]['team'] != '0'))
      {
         // echo "team".$user_details[0]['team'];
         // echo "role".$user_details[0]['role'];
  
  ?>
    
    <table class="table">
					<thead class="thead-dark">
					<tr>
<!--						<th>Sr. No.</th>-->
<!--						<th>Name</th>-->
						<th>Date</th>
						<th>Login</th>
						<th>Logout</th>
						<th>Spent</th>
						<th>Billed</th>
						<th>Reworked</th>
						<th>Attendance</th>
						<th>Projects Worked</th>
						<!-- <th>Action</th> -->
					</tr>
					<thead class="thead-dark">
					<tbody>
					
					<?php 
					$sn=1;
					foreach($ary_weeks_data[$i]['week_attendance_day_wise'] as $value)
					{ 
                        $spent_detail = $this->Employee->getspent($value['userid'] , $value['day'] ) ;
                        $billed_detail = $this->Employee->getbilled($value['userid'] , $value['day'] ) ;
                        $rework_detail = $this->Employee->getrework($value['userid'] , $value['day'] ) ;
                        $projects_detail = $this->Employee->getproject($value['userid'] , $value['day'] ) ;
      
                        if($spent_detail == 0)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 4)
                        {
                        $attendance_detail = 0;
                        }
                        else if($spent_detail < 7)
                        {
                        $attendance_detail = 0.5;
                        }
                        else
                        {
                        $attendance_detail = 1;
                        }
                            

					  	?>
							<tr>
<!--								<td><?= $sn; ?></td>-->
<!--								<td><?= $value['u']['name'] ?></td>-->
								<td><?= date('jS M, y', $value['day']); ?></td>
								<td><?= date("h:i A", $value['login']);?></td>
								<td><?= ($value['logout'] == "" ? "NA" : date("h:i A", $value['logout']))?></td>
								
								<td><?= ($spent_detail == "" ? 0 : $spent_detail) ?></td>
								<td><?= ($billed_detail == "" ? 0 : $billed_detail) ?></td>
								<td><?= ($rework_detail == "" ? 0 : $rework_detail) ?></td>
								<td><?= $attendance_detail ?></td>
								<td>
<?php                        
for($j=0; $j<count($projects_detail);$j++)
{
//echo "<pre>";print_r($projects_detail); echo "</pre>"; 
                            
echo $j+1 . " ". $projects_detail[$j]['description']. " (". $projects_detail[$j]['cl']['fname']." ". $projects_detail[$j]['cl']['lname'].")<br>";                          
                        
}                      
?>
                                                                    </td>
								<!-- <td>
									<a href="/bpmt/attendance/update/<?=md5($value['id'])?>" title="Edit" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></a>
								</td> -->
							</tr>
							
					  	<?php
					  	$sn++;
					   
					} 
					?>
					<tbody>
				</table>
    
   <?php 
      }
    }
    
    ?>
</div>
<?php
	} 
}
?> 

<!--<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>-->



            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Team Perfommance Report</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <?php 
                                    $lastmonth = date('F',strtotime("first day of last month "));
                                    if($month == $lastmonth)
                                    {?>
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Last 30 Days</a>
                                    <?php
                                    }
                                    else
                                    {?>
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <?= $pertext ?> </a>
                                    <?php } ?>
                                    <ul class="dropdown-menu dropdown-menu-right animated bounceIn change_record">
                                        <li data-id="1"><a href="javascript:void(0);" >Last 30 Days</a></li>
                                        <li data-id="7"><a href="javascript:void(0);">Last 7 Days</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <canvas id="m_area_chart" class="m-b-20" height="150"></canvas> 
                        </div>                         
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6">
                    <div class="card top_counter">
                        <div class="header">
                            <h2>Team Performance <small> <?= $pertext ?>  Team Performance</small></h2>
                        </div>
                        <?php 
                        if(!empty($topteammonth)){
                                ?>
                        <div class="body no-padding" >
                            <div class="content m-t-5 row">
                                <h6 class="col-md-8">No Team Performer</h6>
                            </div>
                        </div>
                        <hr>

                        <?php

                        }else
                        {
                            foreach($name_hours as $name => $value) 
                        {  
                           ?>
                        <div class="body no-padding" >
                            <div class="content m-t-5 row">
                                <div class="col-md-8"><h6><?=$name; ?></h6></div>
                                <div class="col-md-4"><h6><?=$value; ?></h6></div>
                            </div>
                        </div>
                        <hr>

                        <?php
                        } }?>                        
                    </div>    
                    
                </div>
                <div class="col-lg-4 col-md-6">

                    <div class="card top_counter">
                        <div class="header">
                            <h2>Top Performer <small> <?= $pertext ?> Top Performers</small></h2>
                        </div>

                        <?php 
                        if(!empty($top)){
                                ?>
                        <div class="body no-padding" >
                            <div class="content m-t-5 row">
                                <h6 class="col-md-8">No Top Performer</h6>
                            </div>
                        </div>
                        <hr>

                        <?php

                        }else{
                        foreach($top_users as $uservalue) 
                        { ?>
                        <div class="body no-padding" >
                            <div class="icon">
                                <?php
                                if($uservalue['u']['picture'])
                                {?>
                                    <img src="<?="/bpmt/img/".$uservalue['u']["picture"]?>" class="rounded-circle" alt="" height="50" width="50">
                               <?php }else{ ?>
                                    <img src="/bpmt/img/avatar2.jpg" class="rounded-circle" alt="">
                               <?php }
                                ?>
                            </div>
                            <div class="content m-t-5 row">
                                <div class="col-md-12"><?=$uservalue['r']['name']?> / <?=$uservalue['t']['name']?></div>
                                <h6 class="col-md-8"><?=$uservalue['u']['name']?></h6>
                                <span class="col-md-4"><?=round($uservalue['billed'],1);?></span>
                            </div>
                        </div>
                        <hr>

                        <?php
                        }} ?>
                        
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card top_counter">
                    <div class="header">
                            <h2>Worst Performer <small> <?= $pertext ?> Worst Performers</small></h2>
                        </div>
                        <?php 
                        if(!empty($worst)){
                                ?>
                        <div class="body no-padding" >
                            <div class="content m-t-5 row">
                                <h6 class="col-md-8">No Worst Performer</h6>
                            </div>
                        </div>
                        <hr>

                        <?php

                        }else{
                        foreach($worst_users as $uservalue) 
                        { ?>
                        <div class="body no-padding" >
                            <div class="icon">
                                <?php
                                if($uservalue['u']['picture'])
                                {?>
                                    <img src="<?="/bpmt/img/".$uservalue['u']["picture"]?>" class="rounded-circle" alt="" height="50" width="50">
                               <?php }else{ ?>
                                    <img src="/bpmt/img/avatar2.jpg" class="rounded-circle" alt="">
                               <?php }
                                ?>
                            </div>
                            <div class="content m-t-5 row">
                                <div class="col-md-12"><?=$uservalue['r']['name']?> / <?=$uservalue['t']['name']?></div>
                                <h6 class="col-md-8"><?=$uservalue['u']['name']?></h6>
                                <span class="col-md-4"><?=round($uservalue['billed'],1);?></span>
                            </div>
                        </div>
                        <hr>


                        <?php
                        }} ?>
                    </div>
                </div>
            </div>


        </div>
    </div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var ctx = document.getElementById('m_area_chart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [<?php echo $date; ?>],
        datasets: [
        {   
            label:'Android',
            data: [<?php echo $android; ?>],
    
            borderColor: [
                'rgb(74, 155, 229, 1)'
            ],
            fill:false
        },
        {   
            label:'Designing',
            data: [<?php echo $designing; ?>],
            
            borderColor: [
                'rgba(153, 102, 255, 1)'
            ],
            fill:false
        },
        {   
            label:'SEO',
            data: [<?php echo $seo; ?>],
            
            borderColor: [
                'rgba(255, 206, 86, 1)'
            ],
            fill:false
        },
        {   
            label:'iOS',
            data: [<?php echo $ios; ?>],
            
            borderColor: [
                'rgba(222, 27, 163 , 1)'
            ],
            fill:false
        },
        {   
            label:'WP',
            data: [<?php echo $wp; ?>],
            
            borderColor: [
                'rgba(27, 222, 59 , 1)'
            ],
            fill:false
        },
        {   
            label:'PHP',
            data: [<?php echo $php; ?>],
            
            borderColor: [
                'rgba(207, 222, 27  , 1)'
            ],
            fill:false
        }
        ]
    },
    
    options: {
        responsive:true,
        
        toottips:{
            mode: 'index',
            intersect: false,
        },

        hover:{
            mode:'nearest',
            intersect:true
        },
        scales: {
            xAxes: [{
                display:true,
                scaleLabel:{
                    display:true,
                    labelString:'Dates'
                }
            }],
            yAxes: [{
                display:true,
                scaleLabel:{
                    display:true,
                    labelString:'Hours'
                }
            }]
        }
    }
});


var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active2");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}



</script>

